@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Locust Vibe Insurance</h1>
    <p>This site demonstrates code sample work for Chris Rinow using the following technologies:</p>
    <ul>
        <li>ASP.NET Core</li>
        <li>Entity Framework</li>
        <li>SQL Server</li>
        <li>CSS</li>
        <li>HTML</li>
    </ul>
    <p>To view or edit customers click <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></p>
    <p>To view or edit insurance types click <a class="nav-link text-dark" asp-area="" asp-controller="Insurance Types" asp-action="Index">Insurance Types</a></p>
</div>
